albumentations
cython_bbox
git+https://github.com/ubonpartners/stuff.git
git+https://github.com/ubonpartners/ultralytics.git@multilabel
lap
lapx
matplotlib
motmetrics
numpy==1.26.4
opencv-python
piexif
psutil
pillow
pycairo
pyyaml
requests
scikit-image
scipy
tabulate
xmltodict
xlsxwriter
